@using web_layer.Models;
@using web_layer.Controllers;
@model HomeViewModel;

@{
	ViewData["Title"] = "Home Page";
	ViewData["OrderModal"] = "addOrderModal";
}

<div class="container text-center row justify-content-between">
	<div class="col-left bg-light min-vh-100 border rounded-4 p-3">
		<partial name="FilterForm.cshtml" model="@Model.FilterValuesViewModel" />
	</div>
	<div class="col-8 bg-light min-vh-100 border rounded-4 p-3">
		<div class="row justify-content-between m-0">
			<h3 class="col-auto">Orders</h3>
			<button id="add-order-btn" class="col-auto btn btn-primary" data-bs-toggle="modal" data-bs-target="#addOrderModal">Add order</button>
		</div>

		<div id="orders">
		</div>
	</div>

	<div class="modal fade" id="@ViewData["OrderModal"]" tabindex="-1" aria-labelledby="addOrderModal" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<partial name="~/Views/Order/NewOrderModal.cshtml" model="@Model.OrderViewModel" />
		</div>
	</div>

	<script>
		setFormSubmitInModal('@ViewData["OrderModal"]');
		setOrderOutputTo('orders');

		$(document).ready(function () {
			url = "@Url.Action(nameof(OrderController.GetOrders), "Order")";

			$.ajax({
				type: 'GET',
				url: url,
				success: function (data) {
					$('#orders').html(data);
				}
			})
		});
	</script>
</div>

